name: PHP CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        php-version: ['8.0', '8.1', '8.2', '8.3']
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        tools: phpunit

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install php-dev

    - name: Build PHP extension
      run: |
        cd bindings/php
        phpize
        ./configure
        make

    - name: Test PHP extension
      run: |
        cd tests/php
        phpunit test_cisv.php
